<!DOCTYPE html>
<html>
<head>
  <title>baselinebg: Baseline background grid generator</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/screen.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript">
    var jdomain = '<%= domain %>';
  </script>
</head>
<body>

  <div class="baseline-content">

    <div class="wrapper">
      <h2>baselinebg</h2>
      <h1>Creates grid background with vertical &amp; horizontal baselines for your next project!</h1>
      <form class="configurator">
        <p>I want a grid with a vertical baseline sets to </p>
        <input type="text" class="small" name="v" value="24" placeholder="24" />
        <p> with the color </p>
        <input type="text" class="big" name="vc" value="00000055" placeholder="rrggbbaa" />
        <p> and an horizontal baseline sets to </p>
        <input type="text" class="small" name="h" value="24" placeholder="24" />
        <p> with the color </p>
        <input type="text" class="big" name="hc" value="00000055" placeholder="rrggbbaa" />
        <p>.</p>
      </form>
    </div>
  </div>

  <div class="wrapper bookmarklet">

    <p class="subtle generated-url"></p>
    <p>or</p>
    <p class="subtle">Drag &amp; drop the <a class="bookmarklet">baselinebg</a> bookmarklet to use it on any webpage!</p>

  </div>

  <script type="text/javascript" src="/baselinebg.js"></script>
</body>
</html>