<!DOCTYPE html>
<html>
<head>
  <title>baselinebg: Baseline background grid generator</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/screen.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript">
    var jdomain = '<%= domain %>';
  </script>
</head>
<body>

  <a href="https://github.com/YuukanOO/baselinebg"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

  <div class="baseline-content">

    <div class="wrapper">
      <h2>baselinebg</h2>
      <h1>Creates grid background with vertical &amp; horizontal baselines for your next project!</h1>
      <form class="configurator">
        <p>I want a grid with a vertical baseline sets to </p>
        <input type="text" class="small" name="v" value="24" placeholder="24" />
        <p> with the color </p>
        <input type="text" class="big" name="vc" value="00000055" placeholder="rrggbbaa" />
        <p> and an horizontal baseline sets to </p>
        <input type="text" class="small" name="h" value="24" placeholder="24" />
        <p> with the color </p>
        <input type="text" class="big" name="hc" value="00000055" placeholder="rrggbbaa" />
        <p>.</p>
      </form>
    </div>
  </div>

  <div class="wrapper bookmarklet">

    <p class="subtle generated-url"></p>
    <p>or</p>
    <p class="subtle">Drag &amp; drop the <a class="bookmarklet">baselinebg</a> bookmarklet to use it on any webpage!</p>

  </div>

  <script type="text/javascript" src="/baselinebg.js"></script>
</body>
</html>